::-moz-selection {
    /* Code for Firefox */
    background-color: transparent;
}

::selection {
    background-color: transparent;
}


.start-main-container {
    margin: 200px auto 0 auto;
    width: 50%;
    border-radius: 20px;
    border: 10px solid gray;
    padding: 50px;
    text-align: center;
}

.start-main-container>h1 {
    font-size: 40px;
}

.start-main-container>p {
    font-size: 20px;
}

.start-main-container>div {
    width: 50%;
    margin: 50px auto;
    border: 5px solid gray;
    border-radius: 10px;
    padding: 0 20px 20px 20px;
}

.start-main-container>div>p {
    font-size: 20px;
}

.start-main-container>div>a {
    background-color: darkcyan;
    text-decoration: none;
    padding: 10px;
    margin: 40px auto;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}



/* =========================== QUIZ SELF */
.quiz-main-container {
    margin: 150px auto 0 auto;
    width: 50%;
    border-radius: 20px;
    border: 10px solid gray;
    padding: 50px;
}

.quiz-main-container>h1 {
    margin-top: 0;
    font-size: 40px;
}

.current-question-number {
    color: darkcyan;
    font-size: 30px;
}

.total-questions-number {
    color: darkcyan;
    font-size: 30px;
}

.question {
    font-weight: bold;
    font-size: 35px;
}

.question-self {
    color: darkcyan;
    word-break: break-all;
    font-weight: normal;
}

.answer-pool {
    margin: 50px 0;
}

.answer-pool>div {
    padding: 15px;
    border: 1px solid gray;
    transition: 0.2s;
    background-color: lightgray;
}

.answer-pool>div:hover {
    background-color: gray;
    cursor: pointer;
}

.pagination {
    display: flex;
}

.pagination button {
    background-color: grey;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.pagination button:nth-child(1) {
    margin-right: auto;
}

.pagination button:nth-child(2) {
    margin-left: auto;
}

.pagination button:hover {
    background-color: rgb(54, 54, 54);
}


.results-show {
    font-size: 40px;
    background-color: darkcyan;
    color: white;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1.5px;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    border: 5px solid rgb(0, 82, 82);
    transition: 0.2s;
    box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}


.results-show:hover {
    background-color: rgb(0, 185, 185);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}


.reload-button {
    font-size: 40px;
    background-color: darkcyan;
    color: white;
    letter-spacing: 1.5px;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    border: 5px solid rgb(0, 82, 82);
    transition: 0.2s;
    box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
    outline: none;
}


.reload-button:hover {
    background-color: rgb(0, 185, 185);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}